.user-header {
	background-color: lightblue;
	height: 25vh;
	width: 100%;
	border-bottom: 2.5px solid black;
	position: relative;
}

.user-content {
	height: 70vh;
	width: 100%;
}

.user-avatar {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	border: 2.5px solid black;
	z-index: 10;
}
.user-avatar-edit-icon {
	text-align: center;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 100%;
	left: calc(50% + 6rem);
	transform: translate(-50%, -50%);

	font-size: 1.4rem;
	color: var(--color-text);
	background-color: var(--color-background);
	border-radius: 25%;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
