.user-header {
	background-color: lightblue;
	height: 30vh;
	width: 100%;
	border-bottom: 2.5px solid black;
	position: relative;
}

.user-content {
	height: 70vh;
	width: 100%;
}

.user-avatar {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 11rem;
	height: 11rem;
	border-radius: 50%;
	border: 2.5px solid black;
	z-index: 10;
}
